mixin nav-link-github(style)
  a(href="https://github.com/antongunov/favicongrabber.com" title="View on GitHub" target="_blank" class=`nav-link--${style}`).nav-link
    | GitHub
    +space
    i.fa.fa-star
