.article {
  width: 730px;
  &--marked {
    h1, h2 {
      border-bottom: 1px solid #eaecef;
      padding-bottom: 0.3em;
      margin-top: 24px;
      margin-bottom: 16px;
    }
    h1 {
      font-size: 27px;
      font-weight: 200;
    }
    h2 {
      font-size: 21px;
      font-weight: 500;
    }
    p {
      line-height: 1.7;
    }
    pre {
      background-color: #f7f7f7;
      padding: .85em 1em;
      code {
        font-family: Consolas, "Courier New", monospace;
        font-size: 14px;
      }
    }
  }
}
