.header {
  color: #fff;
  width: 100%;
  text-align: right;
  &__icon {
    a {
      border: none;
      color: #fff;
      text-decoration: none;
    }
    i {
      color: $color-primary;
      margin: 1rem 4rem 0 0;
      cursor: pointer;
      opacity: .7;
      transition: all .3s ease-in-out;
      width: 3rem;
      &:hover{
        opacity: 1;
      }
    }
  }
}
