html {
  font-size: 20px;
}

body {
  color: $color-black;
  font-family: $font-stack-text;
  font-size: 1rem;
  text-rendering: optimizelegibility;
}

h1, h2, h3, h4 {
  color: darken($color-black, 10);
}

p {
  font-weight: 400;
  line-height: 1.65;
  margin-bottom: 1.65rem;
}

a {
  border-bottom: 1px dotted;
  color: darken($color-primary, 10);
  text-decoration: none;
  white-space: nowrap;
  &:hover {
    border-bottom: 1px solid;
  }
}

ul {
  margin-bottom: 1.65rem;
}

li {
  line-height: 1.65;
  margin-bottom: .6rem;
}

::selection {
  color: $color-black;
  background-color: #b9e5ff;
}
