.favicon {
  margin: 0 auto;
  position: relative;
  width: 16rem;

  &__image {
    background-color: $color-white;
    border-radius: 5px;
    color: lighten($color-black, 30);
    height: 8rem;
    margin: 0 auto;
    padding: 1rem;
    width: 8rem;

    display: flex;
    align-items: center;

    img {
      @include centered();
      max-width: 8rem - 1rem;
    }
  }

  &__meta {

  }

  &__type {

  }

  &__sizes {

  }
}
