.favicon {
  margin: 0 auto;
  width: 12rem;

  &__image-wrapper {
    background-color: $color-white;
    border-radius: 5px;
    color: lighten($color-black, 30);
    height: 8rem;
    margin: 0 auto;
    position: relative;
    width: 8rem;
  }

  &__image {
    @include centered();
    padding: 1rem;

    img {
      max-width: 8rem - 1rem * 2;
    }
  }

  &__meta {
    color: $color-white;
    margin: .7rem auto;
  }
}
