mixin domain-form(id)
  form(id= id).domain-form
    input(type="text" placeholder="www.example.com" autocomplete="off" autocapitalize="none" autocorrect="off" autofocus).domain-form__input-domain
    button(type="submit").domain-form__button-grab Try it Grab!
