mixin form-domain(id)
  form(id= id).form-domain
    input(type="text" placeholder="www.example.com" autocomplete="off" autofocus).form-domain__input-domain
    button(type="submit").form-domain__button-grab Try it Grab!
