extends assets/pug/page

block data
  - var title = "Service API reference | Favicon Grabber"

block body
  .page.page__wrapper
    header.page__header.header
    main.page__main.main
      article.article.article--marked
        include:markdown-it-prism(linkify) ../api/README.md
    footer.page__footer.footer
