extends assets/pug/page

block data
  - var title = "Service API reference | Favicon Grabber"
  - var lastUpdated = "17 July 2017"

block body
  .page.page__wrapper
    header.page__header.header
      nav.nav
        ul.nav__list
          li.nav__item
            a(href="https://github.com/antongunov/favicongrabber" title="Fork me on GitHub" target="_blank").nav-link.nav-link--style-2 GitHub
    main.page__main.main
      article.article.article--marked
        .article__last-updated
          +last-updated(lastUpdated)
        include:markdown-it-prism(linkify) ../api/README.md
    footer.page__footer.footer
      +coded-with-love-by("Anton G.", "https://github.com/antongunov")
