extends assets/pug/page

block data
  - var title = "Service API reference | Favicon Grabber"

block body
  .page-wrapper
    .header
    .content
      article.content-article.article.article--marked
        include:markdown-it-prism(linkify) ../api/README.md
    .footer
