@import 'app/form-domain';
@import 'app/favicon';
@import 'app/message-error';

.app {
  &__title {
    color: $color-white;
    margin-bottom: 2rem;
  }

  &__form-domain {
    margin-bottom: 1rem;
  }

  &__message-error {
    margin-bottom: 1rem;
  }

  &__favicon {
    margin-bottom: 3rem;
  }
}
