.article {
  &--marked {
    h1 {
      color: $color-primary;
      font-size: 3rem;
      font-weight: 600;
      margin: 3rem 0 2rem 0;
    }
    h2 {
      font-size: 1.3rem;
      font-weight: 700;
      margin: 1.5rem 0 1rem 0;
    }
  }
  &__last-updated {
    position: absolute;
    color: lighten($color-black, 30);
    font-size: .8rem;
    margin-left: .3rem;
    top: 6.3rem;
  }
}
