.article {
  width: 780px;
  margin: 0 auto;
  &--marked {
    h1 {
      color: $color-primary;
      font-size: 3.2rem;
      font-weight: 700;
      margin-bottom: 3rem;
    }
    h2 {
      font-size: 1.9rem;
      font-weight: 600;
      margin: 2.1rem 0 1.1rem 0;
    }
    :not(pre) > code {
      font-family: $font-stack-text;
      font-weight: bold;
      white-space: nowrap;
    }
  }
  &__last-updated {
    position: absolute;
    color: lighten($color-black, 30);
    font-size: .9rem;
    margin-left: .5rem;
    top: 10rem;
  }
}
