code[class*="language-"], pre[class*="language-"] {
  color: #f2f3f6;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 16px;
  text-align: left;
  line-height: 1.4;
  tab-size: 2;
  background-color: #444a64;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  background: #737990;
}

/**
 * Code blocks
 */

pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

/**
 * Inline code
 */

:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

/**
 * Tokens
 */

.token.operator {
  color: #f2f3f6;
}

.token.property {
  color: #b3a6e3;
}

.token.punctuation {
  color: #f2f3f6;
}

.token.string {
  color: #fad564;
}
