nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
  }
}

.nav {
  &__item {
    margin: 0 .3rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &--left {
      float: left;
    }
  }
}
