extends pug/page

block data
  - var title = "Favicon Grabber — Online service with public API to grab favicons from any domain"

block body
  .page.page--color-primary
    .page__wrapper
      header.page__header.header
        nav.nav
          ul.nav__list
            li.nav__item: +nav-link-api
            li.nav__item: +nav-link-github("style-1")
      main.page__main.main.main__app
        +app("Grabbing favicons from any domain")
      footer.page__footer.footer.footer--color-white
        +coded-with-love-by("Anton G.", "https://github.com/antongunov")
