extends pug/page

block data
  - var title = "Service API reference | Favicon Grabber"
  - var lastUpdated = "17 July 2017"

block body
  .page.page__wrapper
    header.page__header.header
      nav.nav
        ul.nav__list
          li.nav__item.nav__item--left: +nav-link-home
          li.nav__item: +nav-link-github("style-2")
    main.page__main.main
      article.article.article--marked
        .article__last-updated
          +last-updated(lastUpdated)
        include:markdown-it-prism(linkify) ../docs/API.md
    footer.page__footer.footer
      +coded-with-love-by("Anton G.", "https://github.com/antongunov")
