server {
  server_name {{env.NGINX_FQDN}};
  listen {{env.NGINX_PORT}};

  root {{&rootDir}}/build/;

  include {{&confDir}}/snippets/favicon.nginx;

  location /assets {
    try_files $uri =404;
  }

  location = / {
    # try_files /home.html =404;
    return 302 http://{{env.NGINX_FQDN}}/service-api-reference;
  }

  location = /service-api-reference {
    try_files /service-api-reference.html =404;
  }

  location /api {
    include {{&confDir}}/snippets/cors.nginx;
    proxy_pass http://localhost:{{env.NODE_PORT}}/api;
  }
}
