server {
  server_name {{env.NGINX_FQDN}};
  listen {{env.NGINX_PORT}};

  root {{&rootDir}}/build/;

  include {{&confDir}}/snippets/favicon.nginx;
  include {{&confDir}}/snippets/home.nginx;
  include {{&confDir}}/snippets/static.nginx;

  location /api {
    include {{&confDir}}/snippets/enable-cors.nginx;
    proxy_pass http://localhost:{{env.NODE_PORT}}/api;
  }
}
