server {
  server_name {{env.NGINX_FQDN}};
  listen {{env.NGINX_PORT}};

  root {{&rootDir}}/build/;

  include {{&snippetsDir}}/favicon.nginx;
  include {{&snippetsDir}}/home.nginx;
  include {{&snippetsDir}}/static.nginx;
  include {{&snippetsDir}}/proxy-download.nginx;

  location /api {
    include {{&snippetsDir}}/proxy-headers.nginx;
    include {{&snippetsDir}}/enable-cors.nginx;

    proxy_pass http://localhost:{{env.NODE_PORT}}/api;
  }
}
