include mixins/space

include components/app
include components/coded-with-love-by
include components/last-updated
include components/nav-link-api
include components/nav-link-home
include components/nav-link-github

block data

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet" href="/assets/css/main.css")
    if env.GA_ID
      include google-analytics
    script(src="/assets/js/app.js" defer)
  body
    block body
