/**
 * Color Scheme
 * https://www.sessions.edu/color-calculator-results/?colors=738ac8,ffffff,c8c8c8,73c873,ff6661,474747
 */

$color-black: #474747;
$color-blue: #738ac8;
$color-white: #fff;
$color-green: #73c873;
$color-silver: #c8c8c8;
$color-red: #ff6661;
