@import 'color-scheme';

$color-primary: $color-blue;
$color-secondary: $color-green;

$text-font-stack: Nunito, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-font-size: 20px;
$code-font-stack: 'Droid Sans Mono', Consolas, monospace;
$code-font-size: 15px;

$breakpoints: (
  'desktop': 1200px,
  'laptop': 992px,
  'tablet': 768px,
  'phone': 480px
);
